section {
  height: 100vh;
  background-image: linear-gradient(
      rgba(0, 114, 187, 0.7),
      rgba(0, 114, 187, 0.7)
    ),
    url("img/cafeteria background.png");
  background-size: cover;
}

.loginCard {
  width: 400px;
}

.image {
  position: relative;
  margin-top: -33px;
  margin-left: -33px;
  border-radius: 50%;
}
